/*-------------------
-------fonts---------
-------------------*/

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot');
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Georgia.woff2') format('woff2'),
      url('../fonts/Georgia.woff') format('woff'),
      url('../fonts/Georgia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot');
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff2') format('woff2'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff') format('woff'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.eot');
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.woff2') format('woff2'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.woff') format('woff'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: url('../fonts/FrankRuhlLibre-Regular.eot');
  src: url('../fonts/FrankRuhlLibre-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FrankRuhlLibre-Regular.woff2') format('woff2'),
      url('../fonts/FrankRuhlLibre-Regular.woff') format('woff'),
      url('../fonts/FrankRuhlLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/*-------------------
--------reset--------
-------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

/*--------------------*/

:root {
  --georgia-font: "Georgia", sans-serif;
  --proxima-font: "Proxima Nova", sans-serif;
  --inter-font: "Inter", sans-serif;
  --text-color-white: #FFFFFF;
  --bg-color: #F5F5F5;
  --color: #286A1D;
  --radius: 5px;
  --card-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);

  font-size: 16px;
  font-family: var(--proxima-font);
  font-weight: 400;
  color: #111111;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
}

.btn {
  border-radius: 10px;
  background-color: var(--color);
  color: var(--text-color-white);
  font-family: var(--proxima-font);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 28px;
}

h1 {
  font-family: var(--georgia-font);
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1em;
  width: 12.5em;
}

h2 {
  font-family: var(--georgia-font);
  font-size: 60px;
  line-height: 1.1em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
}

h5 {
  font-size: 24px;
}

/*-------------------
--------header-------
-------------------*/

.header {
  position: absolute;
  padding-top: 41px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 165px;
}

.header *,
.banner * {
  color: var(--text-color-white);
}

.header__wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 35px;
  margin-top: 31px;
}

.header__nav-link {
  font-size: 18px;
}

.header__phone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__phone-num {
  font-family: var(--georgia-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1em;
  display: block;
}

.header__call-btn {
  font-size: 22px;
  border-bottom: 1px solid var(--text-color-white);
  align-self: end;
}

/*-------------------
--------banner-------
-------------------*/

.banner {
 padding: 264px 0 244px;
 background-image: url("../img/banner-bg.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 85px;
}

.banner__address {
  font-size: 30px;
}

/*-------------------
--------about--------
-------------------*/

.about {
  padding: 100px 0px 20px;
}

.about__content {
  display: flex;
  gap: 31px;
}

.about__description {
  max-width: 724px;
}

.about__description p {
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.3em;
}

.about__description p:first-child {
  padding: 0;
}

.about__btn {
  color: var(--color);
  padding: 0;
  background-color: transparent;
  margin-top: 17px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.about__img-wrapper {
  height: 409px;
  overflow: hidden;
}

.about__img-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/*-------------------
------services-------
-------------------*/

.services {
  padding: 100px 0 20px;
}

.services__card-list {
  display: flex;
  gap: 22px;
}

.services__card {
  flex: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url("../img/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.services__card p {
  font-size: 24px;
  max-width: 296px;
}

/*-------------------
------monuments------
-------------------*/

.monuments {
  padding: 100px 0 20px;
}

.monuments__card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px 40px;
}

.monuments__card {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.monuments__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53,53,53,0.6);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: 0.5s;
}

.monuments__card:hover::before {
  opacity: 1;
}

.monuments__card:hover .monuments__card-btn {
  opacity: 1;
  transform: translate(-50%,-50%);
}

.monuments__card-img-wrapper {
  height: 360px;
  overflow: hidden;
}

.monuments__card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.monuments__card-title {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 30px 34px;
}

.monuments__card-btn {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% + 10px));
  width: 270px;
}

/*-------------------
------benefits-------
-------------------*/

.benefits {
  padding: 100px 0 20px;
}

.benefits__card-list {
  display: flex;
  gap: 22px;
  padding-top: 65px;
}

.benefits__card {
  flex: 1;
  border-radius: var(--radius);
  border: 1px solid #AEAEAE;
  box-shadow: var(--card-box-shadow), inset var(--card-box-shadow);
  padding: 31px 32px 21px;
  position: relative;
  z-index: 5;
}

.benefits__card::before {
  content: "";
  position: absolute;
  color: var(--color);
  font-family: "Frank Ruhl Libre", sans-serif;
  line-height: 90px;
  font-size: 120px;
  left: 30px;
  top: -67px;

  /* Stroke Text Generator */
  text-shadow: 
  -0   -5px 0   var(--bg-color),
   0   -5px 0   var(--bg-color),
  -0    5px 0   var(--bg-color),
   0    5px 0   var(--bg-color),
  -5px -0   0   var(--bg-color),
   5px -0   0   var(--bg-color),
  -5px  0   0   var(--bg-color),
   5px  0   0   var(--bg-color),
  -1px -5px 0   var(--bg-color),
   1px -5px 0   var(--bg-color),
  -1px  5px 0   var(--bg-color),
   1px  5px 0   var(--bg-color),
  -5px -1px 0   var(--bg-color),
   5px -1px 0   var(--bg-color),
  -5px  1px 0   var(--bg-color),
   5px  1px 0   var(--bg-color),
  -2px -5px 0   var(--bg-color),
   2px -5px 0   var(--bg-color),
  -2px  5px 0   var(--bg-color),
   2px  5px 0   var(--bg-color),
  -5px -2px 0   var(--bg-color),
   5px -2px 0   var(--bg-color),
  -5px  2px 0   var(--bg-color),
   5px  2px 0   var(--bg-color),
  -3px -5px 0   var(--bg-color),
   3px -5px 0   var(--bg-color),
  -3px  5px 0   var(--bg-color),
   3px  5px 0   var(--bg-color),
  -5px -3px 0   var(--bg-color),
   5px -3px 0   var(--bg-color),
  -5px  3px 0   var(--bg-color),
   5px  3px 0   var(--bg-color),
  -4px -5px 0   var(--bg-color),
   4px -5px 0   var(--bg-color),
  -4px  5px 0   var(--bg-color),
   4px  5px 0   var(--bg-color),
  -5px -4px 0   var(--bg-color),
   5px -4px 0   var(--bg-color),
  -5px  4px 0   var(--bg-color),
   5px  4px 0   var(--bg-color),
  -5px -5px 0   var(--bg-color),
   5px -5px 0   var(--bg-color),
  -5px  5px 0   var(--bg-color),
   5px  5px 0   var(--bg-color),
  -5px -5px 0   var(--bg-color),
   5px -5px 0   var(--bg-color),
  -5px  5px 0   var(--bg-color),
   5px  5px 0   var(--bg-color);
}

.benefits__card:nth-child(1)::before {
  content: "1";
}

.benefits__card:nth-child(2)::before {
  content: "2";
}

.benefits__card:nth-child(3)::before {
  content: "3";
}

.benefits__card:nth-child(4)::before {
  content: "4";
}

.benefits__info {
  margin-top: 40px;
  margin-right: 83px;
  padding: 65px 444px 60px 90px;
  border-radius: var(--radius);
  background-image: linear-gradient(90deg, rgba(49,48,51,1) 0%, rgba(49,48,51,1) 50%, rgba(63,60,69,1) 100%);
  position: relative;
}

.benefits__info::before,
.benefits__info::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.benefits__info::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/benefits-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
}

.benefits__info::after {
  background-image: url("../img/benefits-img.png");
  width: 643px;
  height: 456px;
  top: -62px;
  right: -75px;
}

.benefits__info p {
  font-family: var(--inter-font);
  font-size: 20px;
  color: var(--text-color-white);
  padding-top: 10px;
}

.benefits__info p:first-child {
  padding: 0;
}

.benefits__text {
  position: relative;
  z-index: 5;
}

/*-------------------
--------stages-------
-------------------*/

.stages {
  padding: 100px 0 20px;
}

.stages h2 {
  margin-bottom: 30px;
}

.stages__description {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 30px;
}

.stages__description p {
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  color: #3C3C3C;
}

.stages__description p:first-child {
  padding: 0;
}

.stages__card-list {
  display: flex;
  gap: 24px;
}

.stages__card {
  flex: 1;
  border-radius: var(--radius);
  box-shadow: var(--card-box-shadow);
  background-image: url("../img/card-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  text-align: center;
  gap: 30px;
}

.stages__card p {
  color: #3C3C3C;
  font-size: 18px;
  margin-top: 5px;
}

/*-------------------
--------works--------
-------------------*/

.works {
  padding: 100px 0 20px;
  position: relative;
}

.works__wrapper {
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible !important;
}

.swiper-slide {
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  cursor: zoom-in;
}

.swiper-slide img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.swiper-slide:nth-child(4n + 4),
.swiper-slide:nth-child(4n + 5),
.swiper-slide:nth-child(1) {
  height: 327px !important;
}

.swiper-slide:nth-child(4n + 2),
.swiper-slide:nth-child(4n + 3) {
  height: 407px !important;
}

.swiper-btn-wrapper {
  position: absolute;
  width: 100px;
  height: 30px;
  top: -107px;
  right: 300px;
}

.swiper-button-next,
.swiper-button-prev {
  width: unset !important;
  height: unset !important;
  top: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}