/*-------------------
-------fonts---------
-------------------*/

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot');
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Georgia.woff2') format('woff2'),
      url('../fonts/Georgia.woff') format('woff'),
      url('../fonts/Georgia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot');
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff2') format('woff2'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.woff') format('woff'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaCondRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.eot');
  src: url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.woff2') format('woff2'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.woff') format('woff'),
      url('../fonts/FONTSPRINGDEMO-ProximaNovaExCnBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/*-------------------
--------reset--------
-------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

/*--------------------*/

:root {
  --georgia-font: "Georgia", sans-serif;
  --proxima-font: "Proxima Nova", sans-serif;
  --inter-font: "Inter", sans-serif;
  --text-color-white: #FFFFFF;
  --color: #286A1D;
  --radius: 5px;

  font-size: 16px;
  font-family: var(--proxima-font);
  font-weight: 400;
  color: #111111;
}

body {
  background-color: #fff;
  position: relative;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
}

.btn {
  border-radius: var(--radius);
  background-color: var(--color);
  color: var(--text-color-white);
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 28px;
}

h1 {
  font-family: var(--georgia-font);
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1em;
  width: 12.5em;
}

h2 {
  font-family: var(--georgia-font);
  font-size: 60px;
  line-height: 1.1em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

h3 {

}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
}

/*-------------------
--------header-------
-------------------*/

.header {
  position: absolute;
  padding-top: 41px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 165px;
}

.header *,
.banner * {
  color: var(--text-color-white);
}

.header__wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 35px;
  margin-top: 31px;
}

.header__nav-link {
  font-size: 18px;
}

.header__phone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__phone-num {
  font-family: var(--georgia-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1em;
  display: block;
}

.header__call-btn {
  font-size: 22px;
  border-bottom: 1px solid var(--text-color-white);
  align-self: end;
}

/*-------------------
--------banner-------
-------------------*/

.banner {
 padding: 264px 0 244px;
 background-image: url("../img/banner-bg.jpg");
 background-size: cover;
}

.banner__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 85px;
}

.banner__address {
  font-size: 30px;
}

/*-------------------
--------about--------
-------------------*/

.about {
  padding: 100px 0px 20px;
}

.about__content {
  display: flex;
  gap: 31px;
}

.about__description {
  max-width: 724px;
}

.about__description p {
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.3em;
}

.about__description p:first-child {
  padding: 0;
}

.about__btn {
  color: var(--color);
  padding: 0;
  background-color: transparent;
  margin-top: 17px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.about__img-wrapper {
  height: 409px;
  overflow: hidden;
}

.about__img-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}